@using BusinessObjects.Entities
@model BorrowRecord

<h3>Bạn có chắc muốn xóa?</h3>

<p><strong>@Model.Book?.Title</strong></p>

<form method="post">
    <button class="btn btn-danger">Xóa</button>
    <a href="/BorrowRecords" class="btn btn-secondary">Hủy</a>
</form>