@model List<BusinessObjects.Entities.Loan>

<h2>Lịch sử mượn</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sách</th>           
            <th>Ngày mượn</th>
            <th>Ngày trả</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookTitle</td>
                <td>@item.ReaderName</td>
                <td>@item.DueDate</td>
                <td>@item.ReturnDate</td>
            </tr>
        }

    </tbody>
</table>