@model IEnumerable<BusinessObjects.Entities.User>

@{
    var roleId = Context.Session.GetInt32("RoleID");
}
<div class="card">
    <h2>👤 Quản lý người dùng</h2>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Email</th>
                <th>Họ tên</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            @foreach (var u in Model)
            {
                if (u.UserRoles != null && u.UserRoles.Any(r => r.Role.RoleName == "Admin"))
                {
                    continue;
                }
               
                <tr>
                    <td>@u.Email</td>
                    <td>@u.FullName</td>
                    <td>
                        <span class="badge bg-info">@u.Role?.RoleName</span>
                    </td>
                    <td>
                        @if (roleId == 1)
                        {
                            <a asp-action="DeleteUser" asp-route-id="@u.UserId"
                               class="btn btn-danger btn-sm">Xóa</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @if (roleId == 1) // 1 = Admin
    {
        <a href="/Users/Create" class="btn btn-primary mt-3">
            + Thêm User
        </a>
    }
</div>
